*{
    margin: 0;
    padding: 0;
    /*去掉无序列表的小圆点*/
    list-style: none;
    /*去掉链接的下划线*/
    text-decoration: none;
}

html,body{
    width: 100%;
    height: 1000px;
}

body {
    color: #3C3C3C;
    background-color: #f4f4f4;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.top-nav-wrap{
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
}
.top-nav-wrap .top-nav{
    width: 1190px;
    height: 35px;
    margin: 0 auto; /*水平居中*/
    /*background-color: #fcc;*/
    /*font-size: 12px;*/
    /*line-height: 35px;*/
}

.top-nav-wrap .top-nav .top-nav-left{
    float: left;
    /*padding: 0 5px;*/
}

.top-nav-wrap .top-nav .top-nav-right{
    float: right;
    /*padding: 0 5px;*/
}

.top-nav-wrap .top-nav li{
    /*li是块级元素，这里将其转成行级元素*/
    display: inline-block;
    /*margin: 0 6px;*/
    padding: 0 6px;
}
.top-nav-wrap .top-nav li a,
.top-nav-wrap .top-nav li a span{
    color: #6C6C6C;
    font-size: 12px;
    line-height: 35px;
}
.top-nav-wrap .top-nav li a:hover,
.top-nav-wrap .top-nav li a span:hover,
.top-nav-wrap .top-nav li .login{
    color: #f40;
}
.top-nav-wrap .top-nav .china-span{
    color: #3c3c3c;
    font-size: 12px;
    line-height: 35px;
}

.top-nav-wrap .top-nav .verticalLine{
    color: #ddd;
    line-height: 35px;
}

/*小图标*/
.top-nav-wrap .top-nav .site-nav-icon{
    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align: middle; /*垂直方向上中间对齐*/
    background-size: 100% 100%;
    /*background-image: */
    /*border: 1px solid red;*/
}
/*向下的小箭头*/
.top-nav-wrap .top-nav .site-nav-arrow{
/*    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align: middle; 垂直方向上中间对齐
    background-size: 100% 100%;*/
    /*background-image: 
    border: 1px solid #ddd;*/
    font-size: 4px;
}
.site-nav-icon-menu{
    color: #ff440070!important;
}
/*顶部导航栏结束*/



.search-nav-wrap{
    width: 100%;
    height: 97px;
    padding-top: 14px;
    background-color: #FFF;
}
.search-nav-wrap .search-nav{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    /*vertical-align: middle;无效*/
}

.search-nav-wrap .search-nav .search-nav-logo{
    width: 168px;
    height: 88px;
    background-color: #cfc;
    background-image: url('images/taobao-logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*变成行内元素，在垂直中间对齐*/
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.search-nav-wrap .search-nav .search-nav-box{
    width: 630px;
    height: 87px;
    /*变成行内元素，在垂直中间对齐*/
    display: inline-block;
    vertical-align: middle;
    /*background-color: #ccf;*/
    margin: 0 auto;
    /*不能居中*/
    margin-left: 70px;
}

.search-nav-wrap .search-nav .search-nav-box .search-box-bd{
    width: 630px;
    height: 62px;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-triggers{
    height: 22px;
    padding-left: 20px;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-triggers li{
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    margin-right: 4px;
    color: #F40;
    font-size: 12px;
}

.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-triggers li:hover{
    background-color: #FFEEE5;
}

.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-triggers .select{
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    color: #FFF;
    font-weight: 700;
    border-radius: 6px 6px 0px 0px;
}


.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-searchPanel{
    width: 630px;
    height: 40px;
    /*border: 1px solid red;*/
}
.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-searchPanel .search-fields{
    width: 556px;
    height: 38px;
    display: inline-block;
    float: left;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-searchPanel .search-button{
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    width: 74px;
    height: 42px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    margin-left: -2px;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-searchPanel input{
    padding-left: 15px;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-bd .search-box-searchPanel input:focus{
    outline: none; /*去掉默认的蓝色边框*/
}
.search-nav-wrap .search-nav .search-nav-box .search-box-footer{
    width: 630px;
    height: 25px;
    /*border: 1px solid red;*/
}
.search-nav-wrap .search-nav .search-nav-box .search-box-footer .search-hotWord{
    height: 25px;
    display: inline-block;
    padding-left: 5px;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-footer .search-hotWord a{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #666;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-footer .search-hotWord a:hover{
    color: #ff5000;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-footer .search-hotMore{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #666;
    display: inline-block;
    /*margin-left: 5px;*/
    float: right;
    margin-right: 5px;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-footer .search-hotMore a{
    color: #666;
}
.search-nav-wrap .search-nav .search-nav-box .search-box-footer .search-hotWord .select,
.search-nav-wrap .search-nav .search-nav-box .search-box-footer .search-hotMore a:hover{
    color: #ff5000;
}
.search-nav-wrap .search-nav .search-nav-erweima{
    width: 76px;
    height: 90px;
    /*background-color: #fcc;*/
    border: 1px solid #fcc;
    /*变成行内元素，在垂直中间对齐*/
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-right: 80px;
}
.search-nav-wrap .search-nav .search-nav-erweima span{
    font-size: 12px;
    color: #f40;
    text-align: center;
    /*不能居中*/
    margin: 12px;
}
.search-nav-wrap .search-nav .search-nav-erweima img{
    display: block;
    margin-left: 6px;
    width: 62px;
    height: 62px;
}




/*第三部分开始*/
.screen-nav-wrap{
    width: 100%;
    height: 28px;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.screen-nav{
    width: 1190px;
    height: 28px;
    line-height: 28px;
    color: #fff;
    margin: 0 auto;
}
.screen-nav h2{
    margin-right: 5px;
}
.screen-nav li{
    float: left;
}
.screen-nav a{
    float: left;
    padding: 0 5px;
    font-weight: 600;
    color: inherit;
}
.screen-nav h2{
    float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    background: #ff5000;
}


/*第四部分开始*/
.screen-box-wrap{
    width: 1190px;
    height: 632px;
    border: 1px solid red;
    margin: 0 auto;
}

.main{
    width: 900px;
    height: 522px;
    display: inline-block;
}
.main .main-left{
    width: 190px;
    height: 522px;
    border: 1px solid #f40;
    border-top-color: #fff;
    background-color: #fff;
    display: inline-block;
    float: left;
}

.main .main-left li{
    overflow: hidden;
    line-height: 32px;
    height: 32px;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    width: 145px;
    color: #666;
}
.main .main-left li:hover{
    background-color: #ffe4dc;
    /*color: #FF5000;*/
}
.main .main-left a{
    color: #666;
}
.main .main-left a:hover{
    text-decoration: underline;
    color: #FF5000;
}
.main .main-inner{
    /*background-color: #ffc;*/
    width: 694px;
    height: 522px;
    margin-left: 14px;
    display: inline-block;
    float: left;
}
.main .main-inner .inner-left{
    height: 520px;
    width: 512px;
    float: left;
}
.main .main-inner .inner-left .inner-left-top img{
    height: 280px;
    width: 520px;
    margin-top: 5px;
}
.main .main-inner .inner-left .inner-left-bottom .bottom-hd{
    height: 30px;
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    border-bottom: 2px solid #ff1648;
}
.main .main-inner .inner-left .inner-left-bottom .bottom-hd img{
    float: left;
}
.main .main-inner .inner-left .inner-left-bottom .bottom-hd .bottom-l{
    float: left;
    margin-top: 14px;
    margin-left: 11px;
}
.main .main-inner .inner-left .inner-left-bottom .bottom-hd .bottom-r{
    float: right;
    margin-top: 14px;
}
.main .main-inner .inner-left .inner-left-bottom .bottom-ft{
    margin-left: 2px;
    background-color: #fff;
}
.main .main-inner .inner-left .inner-left-bottom .bottom-ft img{
    height: 190px;
    width: 250px;
}
.main .main-inner .inner-right{
    width: 168px;
    height: 510px;
    float: right;
    margin-top: 5px;
}
.main .main-inner .inner-right img{
    width: 164px;
    height: 256px;
}
.main .main-foot{
    width: 890px;
    height: 100px;
    background-color: #ccf;
    display: inline-block;
    float: left;
    margin: 5px 5px;
}




/*右边开始*/
.right{
    width: 290px;
    height: 632px;
    /*background-color: #cfc;*/
    background: #FFF;
    float: right;
}
.member-wrap{
    width: 290px;
    height: 135px;
    background-size: 100% 100%;
}
.member-wrap .img-box{
    height: 50px;
    width: 290px;
    margin-top: 3px;
    /*让里面的图片居中*/
    text-align: center;
}
.member-wrap .img-box img{
    border-radius: 50%;
    /*margin: 0 auto;无效*/
}
.member-wrap .member-info{
    text-align: center;
    height: 17px;
    line-height: 17px;
    font-size: 14px;
}
.member-wrap .member-ft{
    text-align: center;
}
.member-wrap .member-ft img{
    width: 13px;
    position: relative;
    left: -8px;
}
.member-wrap .member-ft a{
    font-size: 14px;
    color: #ff5000!important;
    border-radius: 9px;
    background-clip: padding-box;
    background: #ffe4db;
    padding: 0 5px 0 10px;
    border: none;
}
.member-wrap .loginAndreg{
    margin-left: 20px;
    margin-top: 5px;
    /*margin: 0 auto;*/
}
.member-wrap .loginAndreg a{
    background: -webkit-linear-gradient(left, #ff5000 0%, #ff6f06 100%);
    background: -o-linear-gradient(left, #ff5000 0%, #ff6f06 100%);
    background: linear-gradient(to right, #ff5000 0%, #ff6f06 100%);
    float: left;
    line-height: 25px;
    width: 75px;
    margin-right: 7px;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background-clip: padding-box;
    font-size: 14px;
    font-weight: 700;
}


/*举报*/
.tipoff-wrap{
    position: relative;
    padding-left: 82px;
    color: #f40;
    display: block;
    height: 26px;
    line-height: 26px;
    background: #ffe4dd;
    font-size: 12px;
}
.tipoff-wrap a{
    color: #f40;
}